.container {
    width: 80%;
    margin: auto;
    display: flex;
  }
  
  .header {
    border-bottom: 3px solid #32b9cd;
  }
  
  .header .container {
    justify-content: space-between;
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
  }
  
  .agora {
    font-weight: 800;
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
  }
  
  
  .titulo {
    color: #32b9cd;
    width: fit-content;
    font-weight: 500;
  }
  
  
  /* BANNER */
  
  .banner {
    height: fit-content;
    padding: 40px 0;
    color: white;
    background-image: url(".././assets/imgs/bg-jelly-fish-para_outras_pags.png");
    background-size: cover;
  }
  
  .banner .container {
    height: 400px;
    font-size: 36px;
    justify-content: center;
    align-items: center;
  }
  
  .tamanho-conteudo { 
    height: fit-content !important;
  }
  
  .banner p {
    width: 50%;
    margin: 0;
    padding: 0;
    width: 280px;
    font-size: 36px;
  }
  
  .banner .container span {
    font-weight: 800;
  }
  
  /* missao visao valores */
  
  .social {
    background-color: #e5e5e5;
    display: flex;
  }
  
  .social .container{
    justify-content: center;
  }
  
  .box img {
    width: 170px;
  }
  
  .social .container .boxes {
    display: flex;
  }
  
  .social p {
    text-align: center;
  }
  
  .box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .box {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  /* FOOTER */
  
  .footer {
    background-color: #32b9cd;
    height: 150px;
    color: #fff;
    display: flex;
    font-size: 15px;
  }
  
  .footer .container {
    justify-content: center;
    text-align: center;
  }
  
  .footer .container .version {
    font-size: 12px;
  }
  
  
  /* LOGIN */
  
  .banner .container .card {
    background-color: #e5e5e5;
    height: fit-content;
    width: 400px;
    display: flex;
    flex-direction: column;
    color: palevioletred;
    align-items: center;
    border-radius: 4px;
  }
  
  .card {
    display: flex;
    justify-content: space-around;
  }
  
  .card h2 {
    font-size: 30px;
  }
  
  .card h4 {
    font-size: 16px;
  }
  
  .banner #div_erros_login {
    margin-top: 15px;
  }
  
  button {
    cursor: pointer;
  }
  
  /* FORMULARIO */
  
  .alerta_erro{
    display: flex;
    justify-content: flex-end;
  }
  
  .card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #e6005a 3px solid;
    padding: 10px;
    margin-right: 10%;
  }
  
  .card_erro #mensagem_erro{
    font-weight: 500;
    font-size: 20px;
  }
  
  .formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 10px;
    border: 2px solid #32b9cd;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
  }
  
  .btn {
    font-family: "Barlow", sans-serif;
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 18px;
    padding: 10px 15px;
    color: white;
    background-color: #e6005a;
    width: 120px;
    align-self: center;
    margin-top: 5px;
  }
  
  .loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
  
  /* PAGINA DOS GRÁFICOS */
  
  .janela {
    display: flex;
    width: 100vw;
  }
  
  .header-left a {
    text-decoration: none;
    color: white;
  }
  
  .header-left {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-right: 3px solid #32b9cd;
    background-color: #212124;
    /* border: 3px solid pink; */
  }
  
  .dash-right {
    display: flex;
    width: 80%;
    height: fit-content;
    background-color: #161618;
    position: relative;
    top: 0;
    left: 25%;
  }
  
  .header-left h1 {
    color: #32b9cd;
  }
  
  .hello {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .hello h3 {
    color: #09c25d;
    font-weight: 300;
    font-size: 1.2rem;
  }
  
  .hello h3 span {
    font-weight: 800;
  }
  
  .btn-nav {
    width: 40%;
    color: white;
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white {
    width: 40%;
    background-color: white;
    border: 3px solid #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
  }
  
  .btn-nav-white h3 {
    color: #e6005a;
    padding: 0;
    margin: 0;
  }
  
  .btn-nav h3,
  .btn-logout h3 {
    margin: 0;
    padding: 0;
  }
  
  .btn-logout {
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #32b9cd;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  /* pagina extra - simulador */
  .simulador {
    color: white;
  
  }
  
  .simulador .container {
    flex-direction: column
  }

/* Dashboard */
.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 21%;
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dashboard .analise {
    padding: 90px 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items:unset;
    gap: 3rem;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    width: calc(100% / 5 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: .3s ease;
}

.dash-content .boxes .box:hover{
    box-shadow: 0 0 1px black;
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.boxes .box.box4 {
    background-color: var(--box4-color);
}

.boxes .box.box5 {
    background-color: var(--box5-color);
}

/* Externo */
.legenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--alt-border);
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    color: var(--text-color);
}

.legenda ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.legenda ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.bola{
    padding: 1px;
    width: 15px;
    height: 15px;
    border-radius: 500px;
}

.b1{
    background-color: #253bfe;
}

.b2{
    background-color: #00fff0;
}

.b3{
    background-color: #09c25d;
}

.b4{
    background-color: #bdff00;
}

.b5{
    background-color: #ff2e00;
}

.analytics{
    background-color: #161616;
    width:65%;
    border-radius: 10px;
    padding: 15px;
}

.analytics2{
    display: flex;
    align-items: center;
    text-align: center;
    width: 30%;
    background-color: #161616;
    border-radius: 10px;
    padding: 10px;
  }

.overview{
    display: flex;
    flex-direction: column;
}

.visaogeral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.analytics{
    display: flex;
    justify-content: center;
}

.analytics2{
    display: flex;
    justify-content: center;
}

.visaogeral canvas{
    background-color: #181818;
}