main {
  height: 100vh;
  display: flex;
  align-items: center;
}

main form,
main .banner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  padding-top: 5rem;
  gap: 2.5rem;
}

main form fieldset .input_group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main .banner {
  background-color: #fff;
  height: 100%;
  padding-top: 4.5rem;
}

main .banner img {
  height: 85%;
}
