.modal {
  left: 5vw;
}

main {
  height: 100vh;
  display: flex;
}

main .left-side,
main .right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4.5rem;
}

main .left-side {
  background-color: #fff;
}

main .left-side img {
  height: 85%;
}

main .right-side form {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main .right-side form input {
  width: 50%;
}

main .right-side form a {
  width: 30%;
  text-align: center;
}
