* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #00ac4d;
}

h2 {
  font-size: 3rem;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
}

a {
  color: #181818;
  text-decoration: none;
}

/* Botões */

.simple-button,
.expand-button {
  background-color: transparent;
  border: 1px solid #00ac4d;
  padding: 0.5rem 1rem;
  border-radius: 40px;
  transition: 0.2s ease;
}

.expand-button {
  background-color: #00ac4d;
  color: #fff;
}

.simple-button:hover {
  color: #fff;
  background-color: #00ac4d;
}

.expand-button:hover {
  transform: scale(1.1);
}

/* Navbar */

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar-container {
  width: 90%;
  height: 4rem;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0.5rem;
  border-radius: 2rem;
  margin: 10px auto;
  transition: 0.2s ease;
  z-index: 1;
}

header .navbar-container img {
  width: 150px;
}

header .navbar-container nav {
  padding-top: 2px;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

header .navbar-container nav .bar {
  width: 0;
  height: 2px;
  background-color: #00ac4d;
  transition: 0.2s ease;
}

header .navbar-container nav a {
  margin-top: 0.5rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

header .navbar-container nav a:hover .bar {
  width: 60%;
}

header .navbar-container .connection {
  display: flex;
  gap: 1rem;
  align-items: center;
}
