main {
  height: 100vh;
  display: flex;
  align-items: center;
}

main form,
main .banner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  padding-top: 5rem;
  gap: 2.5rem;
}

main form h2 {
  font-size: 2.5rem;
}

main form .input_group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main form .input_group input,
main form .input_group select {
  width: 35%;
}

main .banner {
  background-color: #fff;
  height: 100%;
  padding-top: 4.5rem;
}

main .banner img {
  width: 85%;
}

/* Modal de Resultado */

.envelope {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

.result {
  background-color: #181818;
  color: #ffffff;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1rem 0 1rem;
}
