main {
  height: 100vh;
  display: flex;
  align-items: center;
}

main form,
main .banner {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main form {
  padding-top: 5rem;
  gap: 2.5rem;
}

main form h2 {
  font-size: 2.5rem;
}

main form .input_group {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

main form .input_group input,
main form .input_group select {
  width: 35%;
}

main .banner {
  background-color: #fff;
  height: 100%;
  padding-top: 4.5rem;
}

main .banner img {
  width: 85%;
}

main form .input_group label {
  width: 40%;
}

main form .input_group label input,
main form .input_group label select {
  width: 90%;
}

/* Modal de Resultado */
.banner.active {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  transition: 1s;
}

.banner.active h2 {
  margin-top: 1rem;
  width: 60%;
  background-color: #00ac4d;
  padding: 0.5rem;
  color: #fff;
  border-radius: 0.5rem;
  font-size: 1.2em;
  font-weight: 600;
}

.banner.active p {
  margin-top: 1rem;
  color: #181818;
  font-size: 1em;
}

.banner.active a {
  margin: 1rem 0;
}
