/* Dashboard */
.dashboard {
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close~.dashboard {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top {
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}

nav.close~.dashboard .top {
    left: 73px;
    width: calc(100% - 73px);
}

.dashboard .top .sidebar-toggle {
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.dashboard .top .perfil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 21%;
}

.top img {
    width: 40px;
    border-radius: 50%;
}

.dashboard .dash-content {
    padding-top: 50px;
}

.dash-content .title {
    display: flex;
    align-items: center;
    margin: 10px 0 10px 0;
}

.dash-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.dash-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.dash-content .boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1rem;
}

.dash-content .boxes .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0 0 10px black;
    width: calc(100% / 5 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
}

.boxes .box i {
    font-size: 35px;
    color: var(--text-color);
}

.boxes .box .text {
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box .number {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}

.boxes .box.box2 {
    background-color: var(--box2-color);
}

.boxes .box.box3 {
    background-color: var(--box3-color);
}

.boxes .box.box4 {
    background-color: var(--box4-color);
}

.boxes .box.box5 {
    background-color: var(--box5-color);
}

/* Externo */
.legenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--alt-border);
    border-radius: 10px;
    padding: 4px;
    width: 100%;
    color: var(--text-color);
}

.legenda ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    list-style: none;
    gap: 1rem;
}

.legenda ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.bola{
    padding: 1px;
    width: 15px;
    height: 15px;
    border-radius: 500px;
}

.b1{
    background-color: #253bfe;
}

.b2{
    background-color: #00fff0;
}

.b3{
    background-color: #09c25d;
}

.b4{
    background-color: #bdff00;
}

.b5{
    background-color: #ff2e00;
}