@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #181818;
}

::-webkit-scrollbar-thumb {
    background-color: #00AC4D;
}

.header {
    background-color: #cccccc;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    position: fixed;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 10000000;
}

a {
    color: #181818;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.bar {
    width: 0;
    height: 2px;
    background-color: #00AC4D;
    transition: .2s ease;
}

a:hover .bar {
    width: 60%;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

.log_cad {
    list-style: none;
    width: 22%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao_log {
    background-color: transparent;
    border: 1px solid #00AC4D;
    margin-left: 40px;
    padding: 0 1rem 0 1rem;
    border-radius: 40px;
}

.botao_log:hover {
    background-color: #00AC4D;
    border: 1px solid #00AC4D;
    margin-left: 40px;
    padding: 0 1rem 0 1rem;
}

.botao_cad {
    background: #00AC4D;
    border-radius: 40px;
    padding: 0 1rem 0 1rem;
    transform: scale(1.0);
    transition: all 0.5s;
}

.botao_cad:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.cadastro {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
}

.box_form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.caixa_forms {
    background-color: #181818;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    height: 500px;
    border-radius: 15px 15px 15px 15px;
}

.forms {
    color: #FFFFFF;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.forms h1 {
    font-size: 20px;
    font-weight: 400;
    color: #FFFFFF;
    margin-bottom: .5rem;
}

input, select, button {
    background-color: #FFFFFF;
    border: none;
    padding: .3rem;
    margin: 1.1rem;
    border-radius: 50px;
    transition: .4s ease;
    text-align: center;
}

select {
    text-align: left;
}

select:focus {
    background-color: #28ff88;
    outline: 1px solid #00AC4D;
}

input::placeholder {
    font-size: 10px;
    font-weight: 700;
}

input:focus {
    background-color: #28ff88;
    outline: 1px solid #00AC4D;
}

button {
    margin-top: 1rem;
    background-color: #28ff88;
    color: #181818;
    padding: .5rem;
    width: 35%;
}

button:hover {
    background-color: #00AC4D;
    cursor: pointer;
}

.cl_input {
    display: flex;
}

.alerta_erro {
    display: flex;
    justify-content: flex-end;
}

.card_erro {
    display: none;
    background-color: #fff;
    color: black;
    width: 230px;
    position: fixed;
    border-radius: 4px;
    border: #00AC4D 3px solid;
    padding: 10px;
    margin-right: 10%;
}

.card_erro #mensagem_erro {
    font-weight: 500;
    font-size: 20px;
}

.formulario .tipo_campo {
    font-size: 20px;
    font-weight: 600 !important;
}

.loading-div {
    width: 50px;
    margin: auto;
    display: none;
}

.loading-div img {
    height: 50px;
    width: 50px;
}